body {
    background: black;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

#projects-home {
    padding: 20px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-home h1 {
    font-size: 3em;
    text-align: center;
    animation: btcg 0.75s ease-out forwards;
}

@keyframes btcg {
    0% {
        filter: blur(10px);
        transform: scale(1);
    }
    100% {
        filter: blur(0);
        transform: scale(1.2);
    }
}

#nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

.nav-dot {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

.nav-dot:hover {
    background: grey;
}

.glb-project {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    width: 85%;
    height: 75%;
    border-radius: 30px;

    color: white;
    font-size: 1.8em;
    text-align: center;
    overflow: hidden;

    background-color: rgb(0, 0, 0, 0.83);
}

#uhc .project {
    position: relative;
    display: flex;
}

#uhc .project::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../media/projects/fireforce.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    z-index: -1;
}

#uhc .project .showroom {
    background: url("../media/projects/fireball.png") no-repeat center;
    background-size: cover;
}

.project .content {
    margin: 50px;
    flex: 2;
    height: calc(100% - 100px);
}

.project .showroom {
    position: relative;
    margin: 50px;
    flex: 1;
    height: calc(100% - 100px);
    border-radius: 30px;
}

.article {
    margin-top: 30px;
    text-align: left;
    font-size: 0.9em;
}

.article p {
    margin: 10px 0;
}

#bad .project{
    background-color: rgb(255, 255, 255, 0.1);
    position: relative;
    display: flex;
}

#bad .project .showroom {
    background: url("../media/projects/bad2.jpg") no-repeat center;
    background-size: cover;
}

#skyjo .project {
    background-color: rgb(0, 255, 255, 0.2);
    position: relative;
    display: flex;
}

#skyjo .project .showroom {
    background: url("../media/projects/skyjo.png") no-repeat center;
    background-size: cover;
    flex: 1;
    transition: flex 0.5s;
}

#skyjo .project .showroom:hover {
    flex: 4;
}

#skyjo .project .showroom:hover .content {
    flex: 1;
}

#iutm .project {
    background: url("../media/projects/calendar-2024-01-31_1_4.1.png") no-repeat center;
    background-size: cover;
}

#iutm .project p, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}